<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>891094418615-30atb3g1qcre2tcjfhleu26m9jp93sn4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.891094418615-30atb3g1qcre2tcjfhleu26m9jp93sn4</string>
	<key>API_KEY</key>
	<string>AIzaSyCzl1nedAO3WuawcSDW7U-2yJU6XVVlfsc</string>
	<key>GCM_SENDER_ID</key>
	<string>891094418615</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.krenova</string>
	<key>PROJECT_ID</key>
	<string>krenova-kita</string>
	<key>STORAGE_BUCKET</key>
	<string>krenova-kita.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:891094418615:ios:33c32982d035bda29e7932</string>
</dict>
</plist>